# compiled output
/node_modules
/mongo
.env
.local.env
.dev.env
package-lock.json
.tsbuildinfo

# Logs
logs
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
